body {
  font-family: Lucida calligraphy;
  font-weight: bold; 
  color: white;
  background-image: url("../image/planets.jpg");
}
table {
  margin: 0 auto; 
  line-height: 2em;
  font-size: 1.3em;
}
table,th,td {
  border: solid green;
  border-collapse: collapse;
}
th,td {
  padding: 10px;
  text-align: center;
}
#header {
  background-color: grey;
}
.first-row {
  background-color: red;
  color: black;
}

