body{
	background-image: url (https://lh3.googleusercontent.com/proxy/P6io_FuKyrSHQTO_7QB-tE3XS0IpfK-4RwOjIcTtMkfZnKJ77HYAHPE8GS2DkdYINY2arGHfgrYIyo1-ZYtWC0ohkyko);
}

table {
	

	border: ridge;
	border-radius: 1%;
	border-color: red;
	border-width: 20px;
	padding: 20px;
	margin: 20px,
	
	
	
}

th {
	text-align: center;
	background-color: darkviolet;
	color: white;
	padding: 10px;
	font-family: Lucida calligraphy;
	
}

h1 {
	color: red;
	text-align: center;
	font-family: Lucida Calligraphy;
	padding: 50px;

}
tr:nth-child(even){
	background-color: lightblue;
}
td {
	text-align: center;
	padding: 20px; 
	font-weight: bold;
	font-family: Lucida calligraphy;
	
}