body {
  font-family: Lucida calligraphy;
  font-weight: bold; 
  color: red;
  background-image: url("image/planets.jpg");
}
table {
  
  margin: auto;
 
}
table,th,td {
  border: solid green;
  border-collapse: collapse;
}
th,td {
  padding: 10px;
  text-align: center;
}
#header {
  background-color: grey;
}
.first-row {
  background-color: red;
  color: black;
}

