body
{
  font-family: Lucida calligraphy; 
  background-image: url("image/planets.jpg");
}
    	
table
{
  width: 90%;
}
    	
table,th,td
{
  border: solid black;
  border-collapse: collapse;
}
th,td
{
  padding: 10px;
  text-align: center;
}
th
{
  background-color: red;
  color: white;
}
tr:nth-child(even)
{

  background-color: lightblue;
}
tr:nth-child(odd)
{
  background-color: yellow;
}
#header
{
  background-color: grey;
}

